<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./javascripts/profile.js" defer></script>
    <title>Document</title>

    <style>
        body {
            background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        }

        .emp-profile {
            padding: 3%;
            margin-top: 3%;
            /* margin-bottom: 3%; */
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-img {
            text-align: center;
        }

        .profile-img img {
            width: 70%;
            height: 100%;
        }

        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }

        .profile-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .profile-edit-btn {
            border: none;
            border-radius: 1.5rem;
            width: 70%;
            padding: 2%;
            font-weight: 600;
            color: #6c757d;
            cursor: pointer;
        }

        .proile-rating {
            font-size: 12px;
            color: #818182;
            /* margin-top: 5%; */
        }

        .proile-rating span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

        .profile-head .nav-tabs .nav-link.active {
            border: none;
            /* border-bottom: 2px solid #0062cc; */
        }

        .profile-work {
            padding: 14%;
            /* margin-top: -15%; */
        }

        .profile-work p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            /* margin-top: 10%; */
        }

        .profile-work a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

        .profile-tab label {
            font-weight: 600;
        }

        .profile-tab p {
            font-weight: 600;
            color: #0062cc;
        }
    </style>
</head>

<body>
    <div class="container emp-profile">
        <a href="/gallery?user=<%= data._id %>&type=img" style="float: left;margin-top: -3%;">Back to Gallery</a><br>
        <form id="form">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <% if(data.dp) { %>
                            <img src="https://henish-gallery-app.s3.ap-south-1.amazonaws.com/users-dp/<%= data.dp %>" />
                            <% } else { %>
                                <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
                                    alt="" />
                                <% } %>
                                    <div class="file btn btn-lg btn-primary">
                                        Change Photo
                                        <input type="file" name="file" id="file" onchange="changeDp(this)" />
                                    </div>
                                    <div class="btn btn-sm btn-primary" onclick="updateDp()">
                                        update Photo
                                    </div>
                                    <% if(data.dp) { %>
                                        <div class="btn btn-sm btn-primary" id="removeDp">
                                            Remove Photo
                                        </div>
                                        <% } %>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            <%= data.name %>
                        </h5>
                        <h6>
                            SoluLab Inc
                        </h6>
                    </div>
                </div>
                <div class="col-md-2">
                    <input id="update" type="submit" class="profile-edit-btn" name="btnAddMore"
                        value="Update Profile" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="name" value="<%= data.name %>" style="color: blue;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="email" value="<%= data.email %>" style="color: blue;">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Created At</label>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <%= data.createdAt %>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Updated At</label>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <%= data.updatedAt %>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
    </form>
    </div>
</body>

</html>